body {
    background: #000;
    color: #CECFE1;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
}

main {
    margin-right: 30px;
    margin-left: 30px;
}

a {
    color: #007DDF;
    text-decoration: none;
}

header {
    background: #2B244D;
}

.navigation {
    display: flex;
    gap: 25px;
    font-size: 25px;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    align-items: center;
}

.rals {
    width: 64px;
    height: 64px;
}

.mcmain {
    padding-top: 16px;
    padding-bottom: 16px;
    background: url(images/bg.png) no-repeat, url(images/minecraftbg.webp);
    background-size: cover;
    background-position: center;
}